.header {
  font-size: 40px;
  text-transform: uppercase;
  color: #460844;
}
.board-container {
  margin:0 auto;
  width:800px;
  height:500px;
  background-color: #fffdea;
  border:10px solid #460844;
  text-align:center;
}
.cup-container {
  margin:30px;
}
.cup {
  margin:30px;
  height:150px;
  width:100px;
  background-repeat: no-repeat;
  background-size: 100%;
  display:inline-block;
  position:relative;
  text-align:center;
}
.game-status{
  color: #c5203f;
  font-family:sans-serif;
  font-weight:800;
}
.button{
  margin:10px 0 10px 10px;
  width:150px;
  height:50px;
  font-size:20px;
  outline:none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #491352;
  color:#fff;
  border-radius:6px;
}


