
.header {
  font-size: 40px;
  text-transform: uppercase;
  color: #460844;
}

.button {

}
.board-container {
  margin:0 auto;
  width:800px;
  height:500px;
  background-color: #fffdea;
  border:10px solid #460844;
  text-align:center;
}
.cup-container {
  margin:80px;
}
.cup {
  margin:30px;
  height:150px;
  width:100px;
}
